body {
    background: $color-1;
    color: $color-2;
    font-family: $font-primary;
    font-size: 24px;
    line-height: 150%;
}

section {
   margin: 120px 0;
}

header {
   nav {
    padding: 50px 0;
   }
}

.hero {
    position: relative;

    h1 {
        font-weight: 900;
        font-size: 80px;
        line-height: 100%;
        text-transform: uppercase;
        -webkit-text-fill-color: $color-1;
        -webkit-text-stroke: 3px $color-2;
        margin-bottom: 30px;
    }

    p {
        font-weight: 400;
        font-size: 22px;
        line-height: 140%;
        margin-bottom: 10px;
    }

    .fog-decoration {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;

        img {
           display: block;
           width: 100%;
        }
    }

    &-img {
        position: absolute;
        top: calc(-100% - 120px);
        right: 0;
        z-index: -1;
    }

    &-content {
        position: relative;
        z-index: 1;
        max-width: 80%;

        .btn {
            margin-top: 50px;
        }
    }
}