$color-1: #000;
$color-2: #fff;
$color-3: #551a41;
$color-4: #bd1886;

// Bb

$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1200px;

$font-primary: "Poppins", sans-serif;
$font-secondary: "Montserrat", sans-serif;